<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "css/home.css">
</head>
<body>
<div class="top-lider">
    <ul>
        <li><a href="#" title="首页" target="_blank">首页</a></li>
        <li><a href="#" title="国内新闻" target="_blank">国内新闻</a></li>
        <li><a href="#" title="国外新闻" target="_blank">国外新闻</a></li>
        <li><a href="#" title="娱乐新闻" target="_blank">娱乐新闻</a></li>
        <li><a href="#" title="时事新闻" target="_blank">时事新闻</a></li>
        <li><a href="#" title="联系我们" target="_blank">联系我们</a></li>
    </ul>
</div>
</body>
</html>